@mixin base-border($color) {
  border: {
    color: $color;
    style: solid;
    width: 1px;
  }
}

@mixin button-border($color) {
  border: {
    color: $color;
    style: solid;
    width: 2px;
  }
}
