$grid-whitespace: 1rem;

$font-family: 'Inconsolata', monospace;
$base-font-size: 25px;
$base-font-color: #2c3e50;
$font-color-white: #ecf0f1;

$hp-icon-color: #c0392b;

$base-link-color: #2db2e1;
$base-link-hover-color: #16a085;

$base-border-color: #7f8c8d;

$transparent: transparent;

$game-menu-height: 80px;

$help-message-color: #f0f1f5;
$help-message-border-color: #c2c6d6;

$button-primary-color: #1abc9c;
$button-hover-color: #117964;
$button-active-color: #0e6352;
